<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Lê Tuấn Hiệp</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://www.dropbox.com/s/w19ung373y1lnit/48368609_578044015972034_8019249363823886336_n.jpg?raw=1" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Kinh nghiệm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Học vấn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Kỹ năng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Sở thích</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Lê Tuấn
          <span class="text-primary">Hiệp</span>
        </h1>
        <div class="subheading mb-5">23 LK9 ,đường Ngô Thì Nhậm, Hà Đông, Hà Nội · (+84) 963658489 ·
          <a href="mailto:hieplt1018@gmail.com">hieplt1018@gmail.com</a>
        </div>

        <p class="lead mb-5"><b>Mục tiêu nghề nghiệp: </b>Trở thành lập trình viên làm được việc. Một BrSE kết nối khách hàng và công ty.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/hiept1018/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/hieplt1018" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.goodreads.com/user/show/67550103-hi-p-l-tu-n" target="_blank">
            <i class="fab fa-goodreads"></i>
          </a>
          <a href="https://www.facebook.com/toilatuanhiep" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">KINH NGHIỆM</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Fresher Web Developer</h3>
            <div class="subheading mb-3">Phát triển ứng dụng</div>
            <p><b>Vị trí:</b> leader team</p>
            <p><b>Nhiệm vụ:</b> xây dựng front-end và back-end
            <p>Tham gia một số project ứng dụng Website bằng Java phục vụ bài tập lớn ở trường đại học.</p>
            <p>Xây dựng một số project ứng dụng Website bằng Ruby.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Tháng 8, 2018 - Nay</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Fresher Mobile Developer</h3>
            <div class="subheading mb-3">Phát triển ứng dụng</div>
            <p>Tham gia xây dựng project ứng dụng Mobile trên nền tảng Androi phục vụ bài tập lớn ở trường đại học</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Tháng 12, 2018 - Nay</span>
          </div>
        </div>
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Học vấn</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Học viện công nghệ Bưu chính viễn thông</h3>
            <div class="subheading mb-3">Kỹ sư Công nghệ thông tin</div>
            <div>Công nghệ phần mềm</div>
            <p>GPA: 3.23</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Tháng 8, 2015 - Nay</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Tiếng Anh</h3>
            <div class="subheading mb-3">TOEIC</div>
            <p>POINT: 700</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Tháng Tám, 2018 - Nay</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Tiếng Nhật</h3>
            <div class="subheading mb-3">JLPT</div>
            <p>N4</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Tháng 12, 2018 - Nay</span>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Kĩ năng</h2>

        <div class="subheading mb-3">Ngôn ngữ lập trình &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-gem"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-java"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-github"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Design Pattern</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Sở thích</h2>
        <p>Bên cạnh việc trở thành web developer, tôi cũng yêu thích các hoạt động khác trong cuộc sống. Đặc biệt là âm nhạc và sách. Tôi thích dành thời gian được nghỉ lang thang dạo quanh những hiệu sách, chụp ảnh, lựa một đầu sách công nghệ và một đầu sách văn học cho tuần kế tiếp và đi nghe hòa nhạc cổ điển để lấy lại năng lượng đã tiêu hao. Tôi có thể chơi được guitar một chút và đang có ý định học piano để một ngày nào đó có thể chơi đưọc những bản nhạc của Chopin.
        <p class="mb-0">Về hoạt động ngoài trời, tôi thích nói chuyện với bạn bè, cùng họ chơi thể thao, trà chanh chém gió.</p>
      </div>
    </section>
  </div>
  </body>

</html>